USE [master]
GO
/****** Object:  Database [pokemon]    Script Date: 12/06/2018 21:21:20 ******/
CREATE DATABASE [pokemon] ON  PRIMARY 
( NAME = N'pokemon', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\pokemon.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pokemon_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\pokemon_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pokemon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pokemon]
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 12/06/2018 21:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jugador](
	[Nombre] [varchar](25) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
